SUPABASE_URL=https://umeqrgyihdjinkxdkzxh.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtZXFyZ3lpaGRqaW5reGRrenhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTg1MjQzNDUsImV4cCI6MjAxNDEwMDM0NX0.ag-NmQD_gdyGi894Ly8ck9ekLg1xqKi2nr6n0_GwGbw
PG_DATABASE_URL=notimplementedyet
OPENAI_API_KEY=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
ANTHROPIC_API_KEY=null
JWT_SECRET_KEY=J2iHj4s3zrR+leDganEt7ul/ewGYzuqS/GVn7VUlv0a9sBRIvgOw/ZX5d2yy1+fAUxiS85HQFEGTHQ+xfrsd0Q==
AUTHENTICATE=true
GOOGLE_APPLICATION_CREDENTIALS=<change-me>
GOOGLE_CLOUD_PROJECT=<change-me>
CELERY_BROKER_URL=redis://redis:6379/0
CELEBRY_BROKER_QUEUE_NAME=quivr-preview.fifo

#Private LLM Variables
PRIVATE=False
MODEL_PATH=./local_models/ggml-gpt4all-j-v1.3-groovy.bin

#RESEND
RESEND_API_KEY=<change-me>
RESEND_EMAIL_ADDRESS=onboarding@resend.dev
RESEND_CONTACT_SALES_FROM=contact_sales@resend.dev
RESEND_CONTACT_SALES_TO=<change-me>

CRAWL_DEPTH=1


PREMIUM_MAX_BRAIN_NUMBER=30
PREMIUM_MAX_BRAIN_SIZE=10000000
PREMIUM_DAILY_CHAT_CREDIT=100
